.contact {
    width: 50%;
    height: 100%;
    display: grid;
    align-content: center;
    animation: fadeIn 1.5s ease-out 0s backwards;
    // border: $bg-color-secondary 1px solid;

    @include respond(mobile) {
        align-content: flex-start;
        width: 100%;
    }

    &__text {
        color: $text-color-primary;
        @include respond(mobile) {
            padding-top: 3rem;
            text-align: center;
        }

        animation: fadeIn 1.5s ease-out 0s backwards;
    }

    &__info-box {
        color: $bg-color-secondary;
        display: grid;
        padding: 3rem 0;
        animation: fadeIn 1.5s ease-out 2s backwards;

        & > * {
            position: relative;
            left: 2rem;
        }

        & > * > *:nth-child(1) {
            position: absolute;
            left: -2rem;
            top: 2px;
        }
    }
}

.form {
    display: grid;
    width: 100%;
    animation: fadeIn 1.5s ease-out 1s backwards;

    @include respond(mobile) {
        width: 100%;
    }

    label {
        color: $bg-color-secondary;
    }

    input {
        background-color: transparent;
        border: $bg-color-secondary 1px solid;
        height: 3rem;
        margin-bottom: 2rem;
        margin-top: 1rem;
        padding: 0 1rem;
        color: white;
        border-radius: 0;

        &:focus {
            outline: 1px solid white;
        }
    }

    button {
        margin-top: 1rem;
    }
}
