.contact {
    width: 50%;
    height: 100%;
    display: grid;
    align-content: center;
    // border: $bg-color-secondary 1px solid;

    @include respond(mobile) {
        align-content: flex-start;
        width: 100%;
    }

    &__title {
        color: $text-color-primary;
    }

    &__text {
        color: $text-color-primary;
        @include respond(mobile) {
            padding-top: 3rem;
            text-align: center;
        }
    }

    &__info-box {
        color: $bg-color-secondary;
        display: grid;
        padding: 3rem 0;
    }
}

.form {
    display: grid;
    width: 100%;

    @include respond(mobile) {
        width: 100%;
    }

    label {
        color: $bg-color-secondary;
    }

    input {
        background-color: transparent;
        border: $bg-color-secondary 1px solid;
        height: 3rem;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    button {
        margin-top: 1rem;
    }
}
