.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;

    @include respond(mobile) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0;
    }

    &__title-container {
        @include respond(mobile) {
            text-align: center;
        }
    }

    &__title {
        color: $text-color-primary;
    }

    &__content-container {
        text-align: center;
        height: 100%;
        padding: 18vh 50px;
        background-color: $bg-color-primary;
        // border: 1px solid $bg-color-secondary;

        @include respond(tablet-portrait) {
            padding: 18vh 20px;
        }

        @include respond(mobile) {
            padding: 0;
        }
    }

    &__text {
        color: $text-color-primary;
    }
}

.tech-stack {
    display: grid;
    width: 30rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: absolute;
    bottom: $bottom-items;
    right: 0;
    justify-items: end;

    @include respond(mobile) {
        bottom: $mobile-bottom-items;
    }

    & > * {
        color: $bg-color-secondary;
        font-size: 5rem;
    }
}

.rotate {
    animation: fullRotation 10s linear infinite forwards;
}

@keyframes fullRotation {
    0% {
        transform: rotate(0);
    }

    20% {
        transform: rotate(72deg);
    }

    40% {
        transform: rotate(144deg);
    }

    60% {
        transform: rotate(216deg);
    }

    80% {
        transform: rotate(288deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
