body {
    background-color: $bg-color-primary;

    padding: 30px 5vw;
    height: 100vh;
    position: relative;
    overflow-y: hidden;

    @include respond(mobile) {
        padding: 20px 5vw;
    }

    @include respond(desktop) {
        padding: 50px 10vw;
    }

    @include respond(big-desktop) {
        padding: 70px 15vw;
    }
}

main {
    position: relative;
    height: calc(100vh - 70px);
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
    overflow-y: scroll;
    overflow-x: visible;

    @include respond(mobile) {
        overflow-y: auto;
        overflow-x: auto;
        height: calc(100vh - 120px);
    }

    &::before {
        content: "";
        position: absolute;
        background-color: $bg-color-secondary;
        left: -5vw;
        top: 18vh;

        height: 15rem;
        // width: calc(100% + 10vw);
        width: 5vw;

        z-index: -10;

        @include respond(desktop) {
            left: -10vw;
            // width: calc(100% + 20vw);
        }
        @include respond(big-desktop) {
            left: -15vw;
            // width: calc(100% + 30vw);
        }
    }
}
