body {
    background-color: $bg-color-primary;

    padding: $padding-body;
    height: 100vh;
    position: relative;
    overflow: hidden;

    @include respond(mobile) {
        height: 90vh;
        overflow-y: scroll;
    }
}

main {
    position: relative;
    height: $height-main;
    padding: $padding-main;

    @include respond(mobile) {
        padding: $mobile-padding-main;
        top: $mobile-height-header;
        height: calc(95vh - $mobile-height-header);
    }

    @include respond(desktop) {
        height: $desktop-height-main;
    }
}

.scroll-allowed {
    overflow-y: scroll;
    overflow-x: hidden;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
}
