body {
    background-color: $bg-color-primary;

    padding: $padding-body;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
}

main {
    position: relative;
    height: $height-main;
    padding: $padding-main;

    &::before {
        content: "";
        position: absolute;
        background-color: $bg-color-secondary;
        left: -5vw;
        top: 18vh;

        height: 15rem;
        // width: calc(100% + 10vw);
        width: 5vw;

        z-index: -10;

        @include respond(desktop) {
            left: -10vw;
            // width: calc(100% + 20vw);
        }
        @include respond(big-desktop) {
            left: -15vw;
            // width: calc(100% + 30vw);
        }
    }
}

.scroll-allowed {
    overflow-y: scroll;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
}
