.projects {
    height: 100%;

    &__text {
        color: $bg-color-secondary;
        animation: fadeIn 1.5s ease-out 0s backwards;

        @include respond(mobile) {
            padding-top: 3rem;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 50px;

        @include respond(mobile) {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }
}

.block {
    height: 5rem;
    @include respond(mobile) {
        height: 20rem;
    }
}

.project {
    // background-color: $bg-color-secondary;
    // background: url("/ab.jpg");
    background-size: cover;
    background-position: center center;
    height: 20rem;
    width: 100%;
    padding: 3rem;

    text-align: left;
    color: $text-color-primary;

    display: grid;
}
