.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    height: 70%;
    animation: fadeIn 1.5s ease-out 0s backwards;

    @include respond(mobile) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0;
        align-items: center;
    }

    &__bottom-text {
        width: 50rem;
        position: absolute;
        bottom: $bottom-items;
        right: 0;
        text-align: right;

        color: $bg-color-secondary;

        @include respond(mobile) {
            bottom: $mobile-bottom-items;
            width: 30rem;
        }
    }
}

.service {
    text-align: center;

    &__title {
        color: $bg-color-secondary;
        padding: 0;
        animation: fadeIn 1.5s ease-out 0.5s backwards;
    }

    &__text {
        color: $text-color-primary;
        padding: 0 2rem;
        animation: fadeIn 2s ease-out 1.2s backwards;
    }

    span {
        color: $bg-color-secondary;
        font-size: 5rem;
        padding-top: 5rem;
        display: block;
    }
}
