.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    height: 70%;

    @include respond(mobile) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0;
        align-items: center;
    }

    &__bottom-text {
        width: 50rem;
        position: absolute;
        bottom: $bottom-items;
        right: 0;
        text-align: right;

        color: $bg-color-secondary;

        @include respond(mobile) {
            bottom: $mobile-bottom-items;
            width: 30rem;
        }
    }
}

.service {
    text-align: center;

    &__text {
        color: $text-color-primary;
    }
}
