html {
    font-size: 62.5%;

    @include respond(tablet-portrait) {
        font-size: 50%;
    }

    @include respond(desktop) {
        font-size: 70%;
    }

    @include respond(big-desktop) {
        font-size: 80%;
    }
}

button,
a,
ul,
li {
    font-size: inherit;
}

body {
    font-family: monospace;
}

h1 {
    font-size: 5rem;
    @include respond(tablet-portrait) {
        font-size: 6rem;
    }
    @include respond(mobile) {
        font-size: 4rem;
    }
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p,
div,
span,
button,
li {
    font-size: 1.5rem;
    font-family: monospace;
}
