$bg-color-primary: #26584e;
$bg-color-secondary: #38b199;

$text-color-primary: white;
$text-color-secondary: $bg-color-secondary;
$text-color-active: #26584e;

$h1-size: 4rem;
$h2-size: 3rem;
$h3-size: 2rem;
$p-size: 1.5rem;

$font-primary: monospace;
$font-secondary: Arial;
