$bg-color-primary: #26584e;
$bg-color-secondary: #38b199;
$bg-color-secondary-05: #38b19986;
$bg-color-secondary-02: #38b1993a;

$text-color-primary: white;
$text-color-secondary: $bg-color-secondary;
$text-color-active: #26584e;

$h1-size: 4rem;
$h2-size: 3rem;
$h3-size: 2rem;
$p-size: 1.5rem;

$font-primary: monospace;
$font-secondary: Arial;

$height-body: 100vh;
$height-header: 80px;
$height-main: calc($height-body - $height-header);

$width-body: 100%;
$width-main: 100%;

$padding-body: 0 5vw;
$padding-main: 0 10vw;
$padding-p: 3rem 0;

$bottom-items: calc($height-header/2);

// Mobile
$mobile-height-header: 150px;
$mobile-bottom-items: calc($mobile-height-header/3 * 2);
$mobile-padding-main: 0 5vw;

// Desktop
$desktop-height-header: $height-header + 50px;
$desktop-height-main: calc($height-body - $desktop-height-header);
